body {
	font-size: 14px;
}

.ziti {
	line-height: 44px;
	font-weight: bold;
}

.hede {
	border: 1px;
	border-bottom-style: solid;
	border-color: white;
	background-color: white;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
}

.weui-navbar__item {
	padding: 5px 0!important;
}

.weui-navbar+.weui-tab__bd {
	padding-top: 35px!important;
}

.left {
	border-left: 1px;
	border-left-style: solid;
	border-left-color: deepskyblue;
}

.suzi1 {
	color: darkgrey;
	margin-left: 10px;
	margin-top: 0px;
}

.maishu {
	margin-top: 3px;
	font-size: 14px;
}

.imgtime {
	width: 26px;
	height: 26px;
}

.hede1 {
	top: 0px;
	position: fixed
}

.hede {
	border: 0px;
	border-bottom-style: solid;
	border-color: cornflowerblue;
	background-color: cornflowerblue;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100000;
}

.navbarmyslef {
	top: 40px;
	position: fixed;
	width: 100%;
	z-index: 10000;
	background: #f1f1f1;
}

.tbbod {
	margin-top: 70px;
	overflow: auto;
}

.fa-2x {
	font-size: 1.8em!important;
	color: white!important;
}

.fa-self {
	font-size: 1.4em;
	margin-left: 5px;
	margin-top: 8px;
}

.table_name {
	margin-left: 3px;
	text-overflow ：ellipsis;
}

.table_type {
	margin-left: 45px;
}

.table_type_input {
	margin-left: 3px;
	width: 45%;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.table_address {
	margin-left: 45px;
	height: 8%;
}

.table_address_input {
	margin-left: 1%;
	width: 45%;
	height: 38px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.table {
	background-color: #E1F5FB;
	border: 1px;
	border-color: lightgray;
	border-style: solid;
}

.table_location {
	
	margin:auto;
}

.cell_img {
	height: 40px;
	width: 40px;
}

.tou {
	font-size: 17px;
	margin-left: 36%;
	font-family: "楷体";
	color: black;
	padding: 9px;
}

.background {
	background-color: lightgray;
	margin-top: 34px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.hede {
	background-color: white;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

.fa-2x {
	font-size: 2em!important;
	color: #2195F2!important;
}

li:first-child {
			display: block;
		}
		.weui-loadmore{
	    width: 100%!important;

}